//////////////////////////////////////////////////////
// Ads Leaderboard
//////////////////////////////////////////////////////

.ad-leaderboard {
  img {
    margin: 0 auto 10px auto;
    display: block;    
    width: 960px;
    height: 90px;
  }
}

@media screen and (max-width: 960px) {
  .ad-leaderboard img {
    width: 790px;
  }
}

@media screen and (max-width: 790px) {
  .ad-leaderboard img {
    width: 300px;
    height: 50px;
  }
}

//////////////////////////////////////////////////////
// Ads Sidebar 
//////////////////////////////////////////////////////

.ad-sidebar {
  margin-bottom: 15px; 
  display: block;

  img {
    margin: 0 auto;
    display: block;
    height: 250px;
    width: 300px;    
  }
}