//////////////////////////////////////////////////////
// Articles
//////////////////////////////////////////////////////

.article {
  .doubleBorder();
  margin-bottom: @marginBottom;
  padding: 30px;
  width: 100%;

  img {
    margin-bottom: 20px;
    max-width: 100%;
  }

  p a {
    font-weight: 600;
  }

  &-breadcrumbs {
    .uppercaseFont(12px);
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;

    li { 
      margin-right: 5px;
      display: inline; 

      a:hover { background: @linkColor; }

      &:after {
        .contentAfter(">"; 0 0 0 5px);
      }   

      &:last-child {
        &:after { content: ""; }
      }      
    }    
  }

  &-title {     
    font-family: @titleFont;
    font-weight: 700;
    margin-bottom: 0;
  }

  &-subtitle { 
    font-family: @titleFont; 
    font-weight: 300;
  }

  &-author {
    margin-bottom: 14px;
    font-family: @baseFont;    
    font-style: italic;
    font-size: 14px;
    color: #3A3B39;
  }

  &-subscribe {
    @lineHeight: 24px;    
    height: @lineHeight;
    display: block;
    width: 100%;

    &-label {
      .uppercaseFont(13px);  
      line-height: @lineHeight;    
      margin-right: 15px;
      font-weight: 600;
      display: block;
      float: left;
    }

    &-social {      
      .social();      
      cursor: pointer;
      float: left;      
      padding: 0;
      margin: 0;
    }    
  }

  &-rating {
    @size: 60px;    
    box-shadow: inset 0 0 0 2px #ffffff;
    font-family: @uppercaseFont;    
    border-radius: @size;
    background: #000000;
    text-align: center;
    line-height: @size;
    margin-right: 15px;
    border: @border;
    font-size: 40px;
    display: block;
    color: #ffffff;        
    height: @size;
    width: @size;
    float: left;
  }
}

//////////////////////////////////////////////////////
// Related Articles
//////////////////////////////////////////////////////

.relatedArticles {
  .clearfix();
  display: block;

  .mobileLandscape({
    display: none;
    });

  .widget {
    box-shadow: none;
    margin-right: @marginRight;
    margin-bottom: @marginBottom;
    width: 23.828%;
    height: auto;    
    float: left;

    &:hover {
      background: @linkColor;
    }

    &-category {      
      font-family: @baseFont;        
      text-transform: none;        
      position: relative;  
      font-style: italic;
      margin-bottom: 3px;
      font-weight: 100;    
      font-size: 12px;      

      &:after {
        .contentAfter("//"; 0px 4px);
      }
    }

    &-excerpt {      
      font-family: @titleFont;
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
    }

    &:last-child {
      margin-right: 0px;
    }

    .mobileLandscape({
      margin-right: 0px;
      max-height: none;
      height: auto;
      width: 100%;
      });

    &-content {
      padding: 8px;      

      img {      
        max-height: 130px;      
        height: auto;
        width: 100%;

        .mobileLandscape({
          max-height: none;
        });
      }
    }

    &-title {      
      border-bottom: none;
      margin-bottom: 5px;
      line-height: 1.1em;
      padding: 0;  

      a {
        font-weight: 300;
      }  
    }
  }
}