.relatedArticles {
  .clearfix();
  display: block;

  .widget {
    margin-right: @marginRight;
    margin-bottom: 15px;
    max-height: 180px;
    width: 23.828%;
    height: auto;    
    float: left;

    &:last-child {
      margin-right: 0px;
    }

    .mobileSupport({
      margin-right: 0px;
      max-height: none;
      height: auto;
      width: 100%;
      });
  }

  .widget-content {

    img {      
      max-height: 142px;      
      height: auto;
      width: 100%;

      .mobileSupport({
        max-height: none;
        });
    }
  }
}