.carousel {
  margin-bottom: @marginBottom;
  overflow: hidden;
  color: #ffffff;
  width: 100%;

  &-image {
    max-height: 350px;

    img {
      height: auto;
      width: 100%;
    }    
  }

  &-item {
    width: inherit;
    width: inherit;
  }

  &-content {    
    background: rgba(0,0,0,0.6);
    position: absolute;
    overflow: hidden;
    padding: 20px 8%;
    min-height: 26%;
    z-index: 999;
    width: 100%;    
    bottom: 0;
  }

  &-category {
    font-family: @emphasisFont;
    margin-bottom: 4px;
    font-style: italic;    
    font-size: 18px;

    &:after {
      .contentAfter("//"; 0 0 0 5px);
    }
  }

  &-title {
    font-family: @headlineFont;
    text-transform: uppercase;
    letter-spacing: 1px;    
    line-height: 24px;
    font-weight: 500;    
    font-size: 22px;
  } 

  &-emphasis {
    font-family: @emphasisFont;
    text-transform: none;
    font-style: italic;
  }

  &-meta {    
    font-family: @emphasisFont;    
    font-style: italic;
    margin-top: 8px;
    font-size: 12px;
  }
}


//////////////////////////////////////////////////////
// Slider Buttons
//////////////////////////////////////////////////////

@buttonMargin: 2%;
@buttonSize: 22px;

.sliderButtons(@icon; @size) {
  background: url("../images/icons/@{icon}.svg") center center no-repeat;
  background-size: 100%;
  z-index: 9999;
  height: @size;
  width: @size;  
  top: 85%;

  &:before { content: ""; }

  &:hover {
    background: url("../images/icons/@{icon}.svg") center center no-repeat;
    background-size: 100%;
  }
}

.slick-next {
  .sliderButtons("icon-arrowRight-white"; @buttonSize);
  right: @buttonMargin;  
}

.slick-prev {
  .sliderButtons("icon-arrowLeft-white"; @buttonSize);
  left: @buttonMargin;  
}

//////////////////////////////////////////////////////
// Customization for ".sidebar"
//////////////////////////////////////////////////////

.sidebar {
  .carousel {    
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 0;

    &-content {          
      padding: 15% 12% 0 12%;       
      height: 100%;
    }

    &-category { font-size: 16px; }

    &-title { font-size: 20px; }

    &-meta { margin-top: 15px; }
  }

  .slick-slider { 
    margin-bottom: 0; 
  }

  .slick-next, .slick-prev {
    top: 11%;
  }
}
