//////////////////////////////////////////////////////
// Commenting Structure
//////////////////////////////////////////////////////

.comments {
  .clearfix();
  .doubleBorder();
  display: block;
  padding: 30px;
  width: 100%;

  ol, ul {
    list-style-type: none;
    padding: 0;

    li ol, 
    li ul {  
      @spacing: 10px;
      border-top: @borderDotted;
      padding: @spacing 0 0 8%;
      margin-top: @spacing;
      clear: both;
    }
  }
}

//////////////////////////////////////////////////////
// Comments Title Section
//////////////////////////////////////////////////////

.comments-title {
  border-bottom: @borderDotted;
  margin-bottom: 10px;
  position: relative;

  &:after {
    // Turn into mixin
    @size: 20px;
    background: #000000;
    position: absolute;
    display: block;
    height: @size;
    width: @size;
    content: "";
    right: 0;
    top: calc(@size * 0.25);
  }

  h3 {
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

.comments-number {
  @height: 20px; 
  @width: 35px;

  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  height: @height;
  width: @width;
  color: #fff;

  border-radius: 15px;
  background: #000;
}

//////////////////////////////////////////////////////
// Comment Styling
//////////////////////////////////////////////////////

.comment {
  border-bottom: @borderDotted;
  padding-top: 10px;
  display: block;
  width: 100%;
  .clearfix();
}

.comment-reply {
  .comment();

  &:last-child {
    border-bottom: none;
    margin-bottom: none;
  }
}

//////////////////////////////////////////////////////
// Comment Layout
//////////////////////////////////////////////////////

@imgSize: 65px;

.comment-avatar {
  display: block;
  float: left;
  width: @imgSize; 
  
  img {    
    border: @border;
    border-radius: 100px;
    display: block;
    height: @imgSize;
    width: @imgSize;

    .mobileLandscape({
      display: none;
      });
  }
}

.comment-content {
  margin-bottom: 10px;
  display: block;
  float: right;
  width: 84%;

  .mobileLandscape({
    width: 100%;
    });
}

//////////////////////////////////////////////////////
// Meta Data: Name & Date
//////////////////////////////////////////////////////

.comment-meta {  
  margin-bottom: 10px;
  display: block;
  width: 100%;
  float: left;
}

.comment-name {
  text-transform: uppercase;
  vertical-align: bottom;
  display: inline-block;
  margin: 0 8px 0 0;
  font-size: 18px;
  margin: 0;
}

.comment-date {
  vertical-align: bottom;
  display: inline-block;
  font-family: @emphasisFont;
  font-style: italic;
  font-size: 12px;
}

//////////////////////////////////////////////////////
// Comment Message
//////////////////////////////////////////////////////

.comment-message {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
}

//////////////////////////////////////////////////////
// Reply Button and Sub-buttons
//////////////////////////////////////////////////////

.comment-actions {
  display: block;
  width: 100%;
  float: left;
}

.comment-replies {
  margin-right: 5px;
  float: right;

  .comments-number {
    margin-right: 5px;
    height: 20px;
    width: 25px;    
  }    
}

.comment-button {
  text-transform: uppercase;
  background: @linkColor;
  font-weight: 600;
  font-size: 12px;
  border: none;
  float: right;
}

//////////////////////////////////////////////////////
// Commenting Form
//////////////////////////////////////////////////////

.comments-form {
  padding-top: 10px;

  input {
    padding: 0;

    &[type=submit] {
      box-shadow: inset 0 0 0 2px #fff;
      border: @border;
      padding: 5px 10px;
      background: #000;
      float: right;
      color: #fff;
    }
  }

  textarea {
    background: url("../images/commentsback.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.comments-login {
  list-style-type: none;
  padding: 0;
}

.comments-login-item {
  vertical-align: middle;
  display: inline-block;

  span {
    margin-right: 5px;
  }
}