//////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////

@actionsHeight:   20px;   // Action buttons
@metaHeight:      18px;   // Meta info section
@imgSize:         65px;   // Avatar image size
@spacing:         20px;   // Space above/below comment

//////////////////////////////////////////////////////
// Commenting Structure
//////////////////////////////////////////////////////

.comments {
  .clearfix();
  .doubleBorder();
  display: block;
  padding: 30px;
  width: 100%;

  ol, ul {
    list-style-type: none;    
    padding: 0;
    margin: 0;

    li ol, 
    li ul {  
      border-top: @borderDotted;
      padding: @spacing 0 0 8%;
      clear: both;

      .tabletPortrait({
        padding-left: 5%;
      });
    }
  }
}

//////////////////////////////////////////////////////
// Comments Title Section
//////////////////////////////////////////////////////

.comments-title {
  border-bottom: @border;
  padding-bottom: 5px;
  position: relative;
  display: block;
  cursor: pointer;

  &:after {
    .svgIcon(20px; "icon-arrowUp"; bottom; 10px; right; 0);
  }

  h3 {
    vertical-align: bottom;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  &-number {
    background: url("../images/icons/icon-bubble.svg") center center no-repeat;
    background-size: 100% 100%;               
    display: inline-block;
    position: relative;    
    text-align: center;    
    margin-left: 10px;
    line-height: 35px;
    bottom: -13px;
    height: 40px;
    width: 35px;
    color: #fff;
  }
}

.is-collapsed.comments-title:after {
  .svgIcon(20px; "icon-arrowDown"; bottom; 10px; right; 0);
}

//////////////////////////////////////////////////////
// Comment Styling
//////////////////////////////////////////////////////

.comment {
  border-bottom: @borderDotted;
  padding-top: @spacing;
  display: block;
  width: 100%;
  .clearfix();
}

.comment-reply {
  .comment();
  padding-top: @spacing;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: none;
  }
}

//////////////////////////////////////////////////////
// Comment Layout
//////////////////////////////////////////////////////

.comment-avatar {
  display: block;
  float: left;
  width: @imgSize; 
  
  img {    
    border: @border;
    border-radius: 100px;
    display: block;
    height: @imgSize;
    width: @imgSize;

    .mobileLandscape({
      display: none;
      });
  }
}

.comment-content {
  margin-bottom: @spacing;
  display: block;
  float: right;
  width: 84%;

  .mobileLandscape({
    width: 100%;
    });
}

//////////////////////////////////////////////////////
// Meta Data: Name & Date
//////////////////////////////////////////////////////

.comment-meta {  
  margin-bottom: 10px;
  display: block;
  width: 100%;
  float: left;
}

.comment-name {
  .uppercaseFont(18px);
  line-height: @metaHeight;
  vertical-align: bottom;
  display: inline-block;
  margin: 0 10px 0 0;
}

.comment-date {
  font-family: @baseFont;
  line-height: @metaHeight;
  vertical-align: bottom;
  display: inline-block;  
  font-style: italic;
  font-size: 11px;
}

//////////////////////////////////////////////////////
// Comment Message
//////////////////////////////////////////////////////

.comment-message {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
}

//////////////////////////////////////////////////////
// Reply Button and Sub-buttons
//////////////////////////////////////////////////////

.comment-actions {
  .uppercaseFont(12px);
  line-height: @actionsHeight;  
  height: @actionsHeight;
  display: block;  
  width: 100%;
  float: left;
}

.comment-replies {
  line-height: @actionsHeight;  
  margin-right: 10px;
  color: #3A3B39;
  float: right;

  .comments-number {   
    background: url("../images/icons/icon-bubble.svg") center center no-repeat;
    background-size: 100% 100%;
    border-radius: @actionsHeight;
    display: inline-block;    
    position: relative;
    text-align: center;    
    margin-right: 6px;    
    color: #ffffff;    
    height: 100%;        
    top: -1px;

    line-height: 18px;
    height: 21.5px;
    width: 24px;

    span { 
      display: inline-block;
    }
  }    
}

.comment-button { 
  padding: 0 6px;
  height: 100%;
  border: none;
  float: right;  
}

//////////////////////////////////////////////////////
// Commenting Form
//////////////////////////////////////////////////////

.comments-form {
  padding-top: @marginBottom * 3;

  input {
    padding: 6px 12px;

    &[type=submit] {  
      padding: 5px 10px;
      background: #000;
      border: none;
      float: right;
      color: #fff;

      &:hover {
        background: @linkColor;
        color: @fontColor;
      }
    }
  }

  textarea {
    background: url("../images/commentsback.png");
    background-position: center center;
    background-repeat: no-repeat;

    &:focus {
      background: none;
    }
  }
}

ul.comments-login {  
  .clearfix();
  margin-bottom: @marginBottom * 2;
  list-style-type: none;  
  line-height: 12px;  
  overflow: hidden;
  display: block; 
  width: 100%;
}

.comments-login-item {
  margin: 0 @marginBottom calc(@marginBottom * 0.5) 0;
  vertical-align: middle;
  display: block;  
  float: left;

  span {
    .uppercaseFont(12px);
    margin-right: @marginRight;
    font-weight: 600;
  }

  button[data-social] {    
    background: center center no-repeat;    
    text-indent: -9999px;
    border: none;
    height: 22px;
    width: 90px;
  }

  @icons: "../images/social";

  button[data-social="facebook-lg"] { 
    background-image: url("@{icons}/facebook-lg.gif"); 
    // .retinaImage({ background-image: url("@{icons}/facebook-lg@2x.gif"); });
  }

  button[data-social="twitter-lg"] { 
    background-image: url("@{icons}/twitter-lg.gif"); 
    // .retinaImage({ background-image: url("@{icons}/twitter-lg@2x.gif"); });
  }

  button[data-social="exclaim-lg"] { 
    background-image: url("@{icons}/exclaim-lg.gif"); 
    // .retinaImage({ background-image: url("@{icons}/exclaim-lg@2x.gif"); });
  }
}

.comments-writing {
  display: block;  
}