//////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////

@navHeight:   45px;

//////////////////////////////////////////////////////
// Styles
//////////////////////////////////////////////////////

// Entire navigation styling and wrapping
.filters {
  margin-bottom: 10px;
  min-height: auto;
  position: relative;
  background: red;

  .flexbox(row, nowrap, justify-content, flex-start);
  // Required causing issue with streams flexbox
  // Need to debug this issue

  a {
    text-decoration: none;
    color: #333;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
  
  // .tabletSupport ({
  //   .flexbox(column, wrap, align-item, flex-start);
    
  //   // Firefox fallback as it does not support wrap
  //   // wrap issue to be fixed March 18, 2014 in v28
  //   display: block; 
  //   width: 100%; 
  //   });
}

// The entire filtering sections
.filters-content {
  display: block;
  width: 100%;
  // position: relative;
  // height: auto; 
  // .flex(2);

  // IE 9 Hacks
  // width: 72.395%\9;
  // display: block\9;
  // float: left\9;

  // .mobileSupport({
  //   .flex(0);
  //   width: 100%;
  //   });
}


// The filters that have been chosen
.filters-selected {
  position: relative;
  background: lightgrey;
  height: @navHeight;
  padding-left: 15px;
  display: none;
  width: 100%;
}

.filters-selected-button {
  position: absolute;
  height: @navHeight;
  padding: 0 15px;
  display: block;
  right: 0;
  top: 0;
}

.filters-selected-item {    
  padding: 4px 20px 4px 6px;
  line-height: @navHeight;
  border-radius: 4px;
  position: relative;
  margin-right: 5px;
  background: #FFF;    
  display: inline;
  cursor: pointer;
  font-size: 13px;

  &:after {
    position: absolute;
    font-weight: bold;      
    display: block;
    content: "x";
    right: 5px;
    top: -53%;
  }
}


// Filter options as part of navigation
.filters-options {
  background: grey;
  max-width: none;
  padding: 0;

  .tabletSupport({
    display: none;
    });
  
  input[type=text] {
    width: 100%;    
  }

  li {
    position: relative;
    display: block;
    float: left;

    .tabletSupport({
        float: none;
      });

    a {
      line-height: @navHeight;
      padding: 0 15px;
      display: block;
      color: #fff;

      &:hover {
        background: #0fcaf2;
      }
    }

    ul {
      background: black;  
      display: none;
      z-index: 99999;
      top: 100%;
      left: 0;

      .tabletSupport({
        display: none;
        width: 100%;
      });

      li {
        min-width: 150px;
        display: block;
        width: 100%;

        &:first-child {
          padding: 10px;
        }
      }
    }
  }
}

.filters-options-search {
  span {
    width: 100%;
  }
}

// Title when the menu becomes full width for tablet/mobile
h2.filters-mobileTitle { 
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
}

// Need to rename ".slide-trigger"
.slide-trigger {
  line-height: @navHeight;
  position: relative;
  text-indent: 15px;
  cursor: pointer;
  display: none;

  .tabletSupport({
    display: block;
    });

  &:after {
    .arrowDown();
  }
}