//////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////

@filterHeight:    45px;
@optionHeight:    30px;
@inputHeight:     24px;

//////////////////////////////////////////////////////
// Filter Wrap
//////////////////////////////////////////////////////

.filters {
  .clearfix();
  .uppercaseFont(13px);  
  margin: 0 0 @marginBottom 0;  
  border-bottom: @border;
  position: relative;
  z-index: @zindexOverlay;
  padding: 0;

  a {
    text-decoration: none;
    color: #000;
  }

  ul {
    .clearfix();
  }

  li {
    list-style-type: none;
  }

  .navbar {     
    height: @filterHeight;
    border-radius: 0;
    min-height: 0;
    border: none;
    margin: 0;

    .container-fluid {
      padding: 0;      

      .betweenMobileTablet({
        padding: 0 15px;
      });
      
      .mobileLandscape({
        padding: 0 15px;
      });

      .navbar-collapse {
        .betweenMobileTablet({
          padding: 0;
        });

        .mobileLandscape({
          padding: 0;
        });
      }
    }

    &-header {

      .betweenMobileTablet({
        background: #CBCAC5;
      });

      .mobileLandscape({
        background: #CBCAC5;
      });
    }
  }

  &-label {
    .uppercaseFont(11px);
    line-height: @filterHeight;
    text-indent: 15px;
    display: block;
    float: left;
  }

  &-content {
    border-top: 2px solid #000;
    display: block;
    width: 100%;
    margin: 0;  
  }

  .navbar-toggle {
    .svgIcon(20px; "icon-arrowDown"; top; calc(50% - 20px); right; 10px);
    margin: 0;
  }
}

//////////////////////////////////////////////////////
// Filter Options & Search
//////////////////////////////////////////////////////

.filters-options {
  background: #ffffff;
  position: relative;
  max-width: none;
  float: right;  
  padding: 0;
  margin: 0; 

  .betweenMobileTablet({
    width: 100%;
  });

  .mobileLandscape({
    width: 100%;
  });

  input[type=text] {
    width: 100%;    
  }
  
  .open {    
    a:hover, a:focus {            
      background-color: #ffffff;
      color: @fontColor;

      .betweenMobileTablet({
        border-right: 1px solid #808080;
        border-left: 1px solid #808080;      
      });

      .mobileLandscape({
        border-right: 1px solid #808080;
        border-left: 1px solid #808080;      
      });
    }
  }

  li {    
    border-right: @border;
    position: relative;
    display: block;    
    float: left;

    ul { 
      background: none !important; 
      padding: 0;
    }

    .betweenMobileTablet({      
      border-bottom: 1px solid #ffffff;
      background: #000000;
      border-right: none;
      float: none !important;
    });

    .mobileLandscape({
      border-bottom: 1px solid #ffffff;
      background: #000000;          
      border-right: none;
      float: none !important;
    });

    .tabletPortrait({
      float: left;
    });    

    &:last-child {
      border-bottom: none;
    }    

    a {
      line-height: @filterHeight;
      padding: 0 45px 0 22px;      
      display: block;

      .tabletPortrait({ 
        padding: 0 35px 0 15px;
      });

      .betweenMobileTablet({
        color: #ffffff;
      });

      .mobileLandscape({
        color: #ffffff;         
      });

      &:after {
        .svgIcon(20px; "icon-arrowDown"; top; 12px; right; 10px);

        .tabletPortrait({
          .svgIcon(18px; "icon-arrowDown"; top; 12px; right; 5px);
        });
        
        .betweenMobileTablet({                    
          .contentAfter("+"; 0);
          background: none;
          color: #ffffff; 
          right: 5px;
          left: auto;          
        });

        .mobileLandscape({
          .contentAfter("+"; 0);
          background: none;
          color: #ffffff;
          right: 5px;
          left: auto;          
        });        
      }

      &:hover {
        background: @linkColor;
        color: @fontColor;
      }
    }

    ul { 
      background: white;
      display: none;
      top: 100%;
      right: 0;

      .tabletPortrait({
        display: none;
        width: 100%;
      });

      li {
        border-bottom: 1px solid #fff;
        background: #000000;
        position: relative;
        border-right: none;        
        min-width: 200px;
        font-size: 12px;
        display: block;        
        width: 100%;

        a {
        @height: 30px;
        line-height: @height;
        height: @height;
        color: #ffffff;

          &:after {          
            .contentAfter ("+"; 0);
            position: absolute;
            background: none;
            right: 5px;
            left: auto;
          }
        }
      }
    }
  }

  &-search {
    border: 1px solid #808080 !important;
    background: #fff !important;   
    padding: 8px; 

    .betweenMobileTablet({
      background: #ffffff !important;   
      border-right: 1px solid #808080;
      border-left: 1px solid #808080;
      border-top: none !important;
      padding-top: 0;
    });

    .mobileLandscape({
      background: #ffffff !important;   
      border-right: 1px solid #808080;
      border-left: 1px solid #808080;
      border-top: none !important;
      padding-top: 0;
    });

    input, span {      
      line-height: @inputHeight;
      height: @inputHeight;
      padding: 5px;      
      width: 100%;
    }

    .placeholder({
      .uppercaseFont(12px);
    });

    &-label {
      .uppercaseFont(13px);
      color: @fontColor;   
    }
  }
}

//////////////////////////////////////////////////////
// Typeahead Style
//////////////////////////////////////////////////////

.tt-hint {
  margin: 5px 0 0 5px;
  color: #888888;
  outline: none;
}

.tt-dropdown-menu {    
  width: 100%;  
}

.tt-suggestion {
  border-bottom: 1px solid #fff;
  line-height: @optionHeight;  
  height: @optionHeight;
  background: #000000;
  position: relative;
  text-indent: 25px;
  color: #ffffff; 

  &:last-child { border: none; }

  &:after {          
    .contentAfter ("+"; 0);
    position: absolute;
    background: none;
    left: 72.5%;
  }     
}

.tt-suggestion.tt-cursor {
  background: @linkColor;
  color: @fontColor;
  cursor: pointer;  
}

//////////////////////////////////////////////////////
// Selected Options
//////////////////////////////////////////////////////

.filters-selected {
  @buttonSize: 32px;
  padding: 10px calc(@buttonSize + 20px) 5px 15px;
  border: 1px solid rgba(0,0,0,0.3);  
  background: rbga(255,255,255,0.6);
  min-height: @filterHeight;  
  position: relative;  
  display: none;
  height: auto;
  width: 100%;  

  &-list {
    display: block;    
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &-button {
    box-shadow: inset 0 0 0 1px #fff;
    border: 2px solid #000;  
    height: @filterHeight;
    position: absolute;
    background: #000;
    color: #ffffff; 
    display: block;
    height: @buttonSize - 6px;
    width: @buttonSize;
    padding: 0;
    right: 8px;
    top: 6px; 
  }

  &-item {            
    @itemHeight: 24px;
    vertical-align: middle;
    line-height: @itemHeight;
    background: @linkColor;
    display: inline-block;
    height: @itemHeight;
    margin: 0 5px 5px 0;
    border-radius: 2px;
    padding: 0 10px;          
    cursor: pointer;
    font-size: 11px;

    &:after {
      display: inline-block;
      margin-left: 10px;
      content: "✖";
      right: 0;
      top: 0;
    }
  }
}