//////////////////////////////////////////////////////
// Input Styling
//////////////////////////////////////////////////////

input, textarea {
  font-family: @emphasisFont;
  border: 1px solid #0B0B0A;
  padding: 8px 10px;  
  font-size: 14px;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .headlineFont(12px);
  background: #000000;
  font-weight: 600;
  color: #ffffff;
  padding: 6px; 
  border: none;

  &:hover {
    background: @linkColor;
    color: #000000;
  } 
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder { 
  color: @fontColor; 
}


//////////////////////////////////////////////////////
// FormRow
//////////////////////////////////////////////////////

.formRow { 
  @height: 40px; 
  margin-bottom: @marginBottom;
  overflow: hidden;
  width: 100%;

  &-label {
    .headlineFont(13px);
    margin-right: @marginRight;
    line-height: @height;
    display: block;  
    float: left;  
    width: 15%;
  }

  &-input {   
    display: block;         
    width: 83.4375%;
    float: left;

    input {
      height: @height;
      width: 100%;
    }
  }

  &-textarea {
    display: block;
    width: 99.8%;

    textarea {
      min-height: 120px;
      width: 100%;
    }
  }
}