//////////////////////////////////////////////////////
// Input Styling
//////////////////////////////////////////////////////

input {
  border: 1px solid #999;
  padding: 8px 10px;  
  font-size: 12px;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


//////////////////////////////////////////////////////
// FormRow
//////////////////////////////////////////////////////

.formRow {
  margin-bottom: 10px;
  width: 100%;

  &-label {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  &-input {
    display: inline-block;
    vertical-align: top;
    width: 74%; 

    input {
      width: 100%;
    }
  }

  &-textarea {
    display: block;
    width: 99.8%;

    textarea {
      min-height: 120px;
      width: 100%;
    }
  }
}

//////////////////////////////////////////////////////
// Typeahead Style
//////////////////////////////////////////////////////

.tt-hint {
  color: #DDDDDD;
  outline: none;
}

.tt-dropdown-menu {
  background-color: #fff;
  width: 100%;
}

.tt-suggestion {
  padding: 5px 10px;
  line-height: 28px;
}

.tt-suggestion.tt-cursor {
  background: pink;
  cursor: pointer;
}