//////////////////////////////////////////////////////
// Input Styling
//////////////////////////////////////////////////////

input, textarea {
  font-family: @emphasisFont;
  border: 1px solid #0B0B0A;
  padding: 8px 10px;  
  font-size: 12px;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .headlineFont(12px);
  background: #000000;
  font-weight: 600;
  color: #ffffff;
  padding: 6px; 
  border: none;

  &:hover {
    background: @linkColor;
    color: #000000;
  } 
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder { 
  color: @fontColor; 
}


//////////////////////////////////////////////////////
// FormRow
//////////////////////////////////////////////////////

.formRow {
  margin-bottom: 10px;
  width: 100%;

  &-label {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  &-input {
    display: inline-block;
    vertical-align: top;
    width: 74%; 

    input {
      width: 100%;
    }
  }

  &-textarea {
    display: block;
    width: 99.8%;

    textarea {
      min-height: 120px;
      width: 100%;
    }
  }
}