//////////////////////////////////////////////////////
// Classes
//////////////////////////////////////////////////////

.header {
  background: #FFFFFF;
}

//////////////////////////////////////////////////////
// Header Search
//////////////////////////////////////////////////////

.headerBar {
  background: #000000;

  .mobileLandscape({
    display: none;
    });
}

.search {
  position: relative;
  display: block;
  float: right;

  .placeholder({    
    font-style: italic;
    color: #888;
  });

  input {
    height: 25px;
    width: 205px;  
  }

  &:after {
    .svgIcon(20px; "icon-search"; top; 5%; right; 10px);
  }
}

.social {  
  @size: 24px;  
  cursor: pointer;  
  display: block;
  height: @size;
  float: right;  
  
  ul { 
    padding: 0;
    margin: 0; 
  }

  li {    
    position: relative;
    list-style-type: none;
    margin: 0 8px 0 0; 
    display: block;
    height: @size;
    width: @size;
    float: right;

    a { 
      display: block;
      height: 100%;        
      width: 100%;      
    }

    &[data-social] {    
      background: center center no-repeat;
      height: @size;
      width: @size;      
    }

    @icons: "../images/social";

    &[data-social="facebook"] { 
      background-image: url("@{icons}/facebook.png"); 
      // .retinaImage({ background-image: url("@{icons}/facebook@2x.png"); });
    }

    &[data-social="twitter"] { 
      background-image: url("@{icons}/twitter.png"); 
      // .retinaImage({ background-image: url("@{icons}/twitter@2x.png"); });
    }

    &[data-social="rss"] { 
      background-image: url("@{icons}/rss.png"); 
      // .retinaImage({ background-image: url("@{icons}/rss@2x.png"); });
    }

    &[data-social="youtube"] { 
      background-image: url("@{icons}/youtube.png"); 
      // .retinaImage({ background-image: url("@{icons}/youtube@2x.png"); });
    }

    &[data-social="google"] { 
      background-image: url("@{icons}/google.png"); 
      // .retinaImage({ background-image: url("@{icons}/google@2x.png"); });
    }

    &[data-social="instagram"] { 
      background-image: url("@{icons}/instagram.png"); 
      // .retinaImage({ background-image: url("@{icons}/instagram@2x.png"); });
    }

    &[data-social="email"] { 
      background-image: url("@{icons}/email.png"); 
      // .retinaImage({ background-image: url("@{icons}/email@2x.png"); });
    }

    &[data-social="sharethis"] { 
      background-image: url("@{icons}/sharethis.png"); 
      // .retinaImage({ background-image: url("@{icons}/sharethis@2x.png"); });
    }


    &:last-child {
      margin-left: 0px;
    } 
  }
}

//////////////////////////////////////////////////////
// Header Logo & Navigation
//////////////////////////////////////////////////////

.logo {
  margin: 0;
  
  a {
    @logo: "logo";
    background: url("../images/@{logo}.png"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999em;

    .retinaImage({ background: url("../images/@{logo}@2x.png"); });
    
    margin-right: @marginRight;
    width: 28.6458333%;
    max-width: 275px;    
    height: 45px;

    display: block;
    float: left;

    .tabletPortrait({
      margin-right: 0;
      width: 100%;
      });
  }

  .mobileLandscape({
    margin: 0 auto;
    width: 150px;
    height: auto;
      });
}