//////////////////////////////////////////////////////
// Classes
//////////////////////////////////////////////////////

.header {
  background: #FFFFFF;
}

.subHeader {
  
}

.ad-leaderboard {
  img {
    max-width: 100%;
    min-height: 80px;
    margin: 0 auto 10px auto;
    display: block;
  }
}

.logo {
  margin: 0;
  
  a {
    background: url("../images/logo.png"); 
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: @marginRight;
    text-indent: -999em;
    width: 28.6458333%;
    max-width: 275px;
    display: block;
    height: 60px;
    float: left;

    .tabletSupport({
      margin-right: 0;
      width: 100%;
      });
  }
}

.navigation {
  background: orange;
  width: 69.7916667%;
  height: auto;
  float: left;

  .tabletSupport({
    width: 100%;
    });
}


@searchHeight: 30px;

.navigation-search {
  overflow: hidden;
  background: pink; 
  display: block;
  width: 100%;
  height: 30px;

  input {
    width: 150px;
    height: @searchHeight;
  }
}

.social {
  margin-right: 5px;
  display: block;
  float: right;

  li {
    line-height: @searchHeight - 2px;
    list-style-type: none;
    display: block;
    float: right;
    margin-left: 5px;

    &:last-child {
      margin-left: 0px;
    }

    img {
      @size: 22px;
      height: @size;
      width: @size;
    }
  }
}

.search {
  position: relative;
  display: block;
  float: right;

  &:after {
    @size: 15px;
    background-color: transparent;
    border: 2px solid #444;
    border-radius: @size;
    position: absolute;
    height: @size;
    width: @size;
    top: 45% - @size;
    right: 8px;
    display: block;
    content: "";
  }
}

.menu-dropdown {
  width: 200px;
  background: #efefef;
  position: relative;
  display: block;
  padding: 10px;

  &:after { .arrowDown(); }
}

.menu-dropdown-list {
  list-style-type: none;

  a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0;
  }

  li a { 
    padding: 10px 15px; // reset bootstrap
  }

  ul {
    position: absolute;
    background: green;
    width: 100%;
    top: 100%;
    left: 0;  
  }
}