//////////////////////////////////////////////////////
// Classes
//////////////////////////////////////////////////////

.header {
  background: #3f3f3f;
}

.ad-leaderboard {
  img {
    max-width: 100%;
    min-height: 80px;
    margin: 0 auto 10px auto;
    display: block;
  }
}


.logo {
  float: left;
  margin: 0;

  a {
    text-indent: -999em;
    background: yellow;    
    display:block;
    width: 275px;
    height: 60px;
  }
}