//////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////

@navHeight:     45px;

//////////////////////////////////////////////////////
// Global Hiding & Revealing Classes
//////////////////////////////////////////////////////

.visible-mobile {
  display: none;

  .betweenMobileTablet({
    display: block;
  });

  .mobileLandscape({
    display: block;
  });
}

//////////////////////////////////////////////////////
// Main Navigation
//////////////////////////////////////////////////////

.nav .open {
  background: @linkColor;
}

.navigation {
  display: block;
  padding: 0;
  margin: 0;  

  .navbar {
    .uppercaseFont(13px);      
    margin-bottom: 0; 
    background: #ffffff;
    position: relative;
    height: @navHeight;
    border-radius: 0;
    min-height: 0px;        
    z-index: 999;
    border: none;

    form {
      border-bottom: 2px solid @borderColor;
      border-top: 1px solid @borderColor;
      padding: 10px 15px;

      &:after {
        .svgIcon(18px; "icon-search"; top; 28px; right; 24px);
      } 

      input {
        padding: 5px 10px;
        width: 100%;      
      }
    }

    &-header {      
      margin: 0;
    }

    &-nav {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;    

      .betweenMobileTablet({
        border: @border;
      });

      .mobileLandscape({
        border: @border;
      });

      li a {      
        line-height: @navHeight;
        padding-bottom: 0;
        padding-top: 0;

        &:hover { background: none; }
      }
    }  
    
    &-logo {
      display: block;    
      height: 100%;    
      float: left;
      margin: 0;

      a {
        background: url("../images/logo.svg"); 
        background-position: center center;
        background-repeat: no-repeat;
        line-height: @navHeight;
        background-size: 100%;
        text-indent: -999em;                
        display: block;
        width: 235px;    
        height: auto;      
        float: left;  

        .tabletPortrait({
          position: relative;
          max-width: 185px; 
          left: 10px;           
        });

        .mobileLandscape({
          width: 163px;           
        });
      }    
    }

    &-toggle {
      background: url("../images/icons/icon-mobile.svg") center center no-repeat;
      margin-right: 5px;
      margin-top: 10px;
      height: 25px;
      width: 25px;
      padding: 0; 

      &:hover {
        background: url("../images/icons/icon-mobile.svg") center center no-repeat;
      }
    }

    &-link {
      @iconSize: 15px;    
      border-right: @border;      
      list-style-type: none;    
      height: @navHeight;
      position: relative;
      display: block;

      // Remove second last border from list
      // due to Bootstrap structure last is dropdown
      &:nth-last-child(2) {
        border-right: none;
      }
      
      .betweenMobileTablet({
        border-bottom: @border;
      });

      .mobileLandscape({
        border-bottom: @border;
      });

      a {    
        padding: 0 calc(@iconSize * 2) 0 15px !important;
        color: @fontColor !important;
        line-height: @navHeight;      
        display: block;

        &:hover {
          background: @linkColor !important;

          .betweenMobileTablet({
            border-bottom: @border;
          });

          .mobileLandscape({
            border-bottom: @border;
          });
        }
      }  

      &:after {            
        .svgIcon(@iconSize; "icon-arrowRight"; top; calc(50% - @iconSize); right; 8px);

        .betweenMobileTablet({
          display: none;
        });

        .mobileLandscape({
          display: none;
        });
      }
    }

    // Sections Dropdown

    .sections {
      @caretWidth: 45px;
      .uppercaseFont(14px); 
      padding-right: @caretWidth;    
      border: @border !important;
      background: #ffffff;
      height: @navHeight;
      position: relative;
      font-weight: 600;      

      &:hover {
        background: @linkColor;
      }

      .betweenMobileTablet({ 
        border: none !important;
        margin: 0;
      });

      .mobileLandscape({
        border: none !important;
        margin: 0;
      });

      .caret {
        width: @caretWidth;
        background: #000000;
        position: absolute;  
        height: @navHeight - 1px;  
        display: block;              
        content: "";
        z-index: 1;
        left: 100%;
        top: 0; 

        border: none !important;
        margin: 0 !important;

        .betweenMobileTablet({
          height: @navHeight + 1px;
        });

        .mobileLandscape({
          height: @navHeight + 1px;
        });
        
        &:after { 
          .svgIcon(20px; "icon-dropdown-white"; top; calc(50% - (@navHeight * 0.5)); right; calc(@caretWidth * 0.225));
        } 
      }
    }

    .container-fluid { 
      padding: 0; 

      .navbar-collapse {
        margin: 0;
      }

      .navbar-brand {
        margin-left: 0;
        padding: 0;      
      }
    }

    // Dropdown Menu Style

    .dropdown-menu {
      box-shadow: none;
      position: absolute;
      line-height: 12px;
      z-index: 99999;        
      padding: 0;
      margin: 0;
      top: 100%;
      right: -3px;

      .betweenMobileTablet({
        width: 100%;
        top: 90%;
        right: 0;
      });

      .mobileLandscape({
        width: 100%;
        top: 90%;
        right: 0;
      });

      li { 
        border-bottom: 1px solid #fff;           
        background: #000000;
        position: relative;
        border-right: none;        
        min-width: 200px;
        font-size: 14px;
        display: block;        
        width: 100%;        

        &:last-child { border: none; }  

        a {                    
          line-height: 30px;
          color: #ffffff;

          &:hover {
            background: @linkColor;
            color: #000000;
          }
        }
      } 
    }

    // Mobile Menu

    &-collapse {    
      background: #ffffff;    
      padding: 0;    
      margin: 0; 

      .betweenMobileTablet({
        position: absolute;
        width: 100%;
        top: 75%;
      });

      .mobileLandscape({
        position: absolute;
        width: 100%;
        top: 75%;
      });    

      &:before {
        @size: 10px;

        .betweenMobileTablet({
          border-bottom: @size solid #000000;    
          border-right: @size solid transparent; 
          border-left: @size solid transparent;       
          position: absolute;      
          display: block;
          z-index: 9999;
          content: "";            
          right: 8px; 
          top: -2px; 
          height: 0; 
          width: 0;
        });

        .mobileLandscape({       
          border-bottom: @size solid #000000;    
          border-right: @size solid transparent; 
          border-left: @size solid transparent;       
          position: absolute;      
          display: block;
          z-index: 9999;
          content: "";            
          right: 8px; 
          top: -2px; 
          height: 0; 
          width: 0;
        });
      }
    }

    &-collapse.in {
      overflow: initial;      
    }
  }
}