//////////////////////////////////////////////////////
// Main Navigation
//////////////////////////////////////////////////////

.navigation {
  display: block;
  padding: 0;
  margin: 0; 

  .navbar {
    .uppercaseFont(13px);   
    z-index: @zindexNav;       
    background: #ffffff;
    position: relative;
    height: @navHeight;
    border-radius: 0;
    margin-bottom: 0; 
    min-height: 0px;            
    border: none;

    .tabletLandscape({ 
      font-size: 12px;
    });

    form {
      border-bottom: 2px solid @borderColor;
      border-top: 1px solid @borderColor;
      position: relative;
      padding: 10px 15px;

      .icon-search {
        bottom: calc(50% - 18px);
        right: 25px;
      }

      input {
        width: 100%;      
      }
    }

    &-header {      
      margin: 0;
    }

    &-nav {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;    

      .lessThanTablet({
        border: @border;
      });

      li a {      
        line-height: @navHeight;
        padding-bottom: 0;
        padding-top: 0;

        &:hover { background: none; }
      }
    }      

    &-toggle {
      background: url("../images/icons/icon-mobile.svg") center center no-repeat;
      margin-right: 5px;
      margin-top: 10px;
      height: 25px;
      width: 25px;
      padding: 0; 

      &:hover {
        background: url("../images/icons/icon-mobile.svg") center center no-repeat;
      }
    }

    &-link {
      @iconSize: 15px;    
      border-right: @border;      
      list-style-type: none;    
      height: @navHeight;
      position: relative;
      display: block;

      // Remove second last border from list
      // Due to Bootstrap structure last is dropdown
      &:nth-last-child(2) {
        border-right: none;
      }
      
      .lessThanTablet({        
        border-bottom: @border;
        border-right: none;
      });


      a {    
        padding: 0 calc(@iconSize * 1.8) 0 15px !important;
        color: @fontColor !important;
        line-height: @navHeight;             
        display: block;

        &:hover {
          background: @linkColor !important;

          .lessThanTablet({
            border-bottom: @border;
          });
        }
      }  
      
      .icon-arrowRight {
        bottom: calc(50% - @iconSize);
        height: @iconSize;
        width: @iconSize;        
        right: 7px;
      }
    }

    // Sections Dropdown

    .sections {      
      @caretWidth: 45px;
      .uppercaseFont(13px); 
      padding-right: @caretWidth;    
      border: @border !important;
      background: #ffffff;
      height: @navHeight;
      position: relative;
      margin-left: 10px;
      font-weight: 600;      

      &:hover {
        background: @linkColor;
      }

      .tabletLandscape({ 
        font-size: 11px;
      });

      .lessThanTablet({ 
        border: none !important;
        font-weight: 500;
        font-size: 13px;
        margin: 0;
      });

      .caret {
        width: @caretWidth;
        z-index: @zindexNav;
        background: #000000;
        position: absolute;  
        height: @navHeight - 1px;  
        display: block;              
        content: "";        
        left: 100%;
        top: 0; 

        border: none !important;
        margin: 0 !important;

        .lessThanTablet({
          height: @navHeight + 1px;
        });
        
        &:after { 
          .svgIcon(20px; "icon-dropdown-white"; top; calc(50% - (@navHeight * 0.5)); right; calc(@caretWidth * 0.225));
        } 
      }
    }

    .container-fluid { 
      padding: 0; 

      .navbar-collapse {
        margin: 0;
      }

      .navbar-brand {
        margin-left: 0;
        padding: 0;      
      }
    }

    // Dropdown Menu Style

    .dropdown-menu {      
      box-shadow: none;
      position: absolute;
      line-height: 12px;
      z-index: @zindexNav;        
      padding: 0;
      margin: 0;
      top: 100%;
      right: -3px;

      .lessThanTablet({              
        display: block;
        width: 100%;
        border: 0;
        top: 90%;
        right: 0;
      });

      li {             
        border-bottom: 1px solid #fff;           
        background: #000000;
        position: relative;
        border-right: none;        
        min-width: 200px;
        font-size: 14px;
        display: block;        
        width: 100%;        

        &:last-child { border: none; }  

        a {                          
          line-height: 30px;
          color: #ffffff;

          .lessThanTablet({
            padding: 5px 15px 5px 25px;
            });

          &:hover {
            background: @linkColor;
            color: #000000;
          }
        }
      } 
    }

    // Mobile Menu
    &-collapse { 
      background: #ffffff;    
      padding: 0;    
      margin: 0; 

      .lessThanTablet({
        position: absolute;
        width: 100%;
        top: 75%;
      });

      &:before {
        @size: 10px;

        .lessThanTablet({
          border-bottom: @size solid #000000;    
          border-right: @size solid transparent; 
          border-left: @size solid transparent;       
          z-index: @zindexNav;
          position: absolute;      
          display: block;          
          content: "";            
          right: 8px; 
          top: -2px; 
          height: 0; 
          width: 0;
        });
      }
    }

    &-collapse.in {
      overflow: initial;      
    }
  }
}


//////////////////////////////////////////////////////
// IE Hacks
//////////////////////////////////////////////////////

.ie {
  .navigation {
    .navbar {
      &-collapse {
        overflow: visible;
      }
    }
  }
}