//////////////////////////////////////////////////////
// Search Results
//////////////////////////////////////////////////////

.search {  

  &-title {
    .uppercaseFont(13px);    
    text-indent: 10px;
    margin-top: 10px;
    font-weight: 600;
  }

  &-words {    
    font-family: @titleFont;
    margin-bottom: @marginBottom * 2;
    text-indent: 20px;
    font-weight: 300;
    margin-top: 0;    
  }

  // Widget List Adjustments

  .widget:last-child {
    margin-bottom: @marginBottom;
  }

  .widgetList-item {

    &-excerpt {
      text-transform: none;
    }
    
    &-details {
      text-transform: none;
      font-weight: 500;
      font-size: 12px;
    }
  }
}