//////////////////////////////////////////////////////
// Structure
//////////////////////////////////////////////////////

.streams {
  .flexbox(row, wrap, align-items, flex-start);

  .tabletPortrait({
     .flexbox(column, wrap, align-items, flex-start);  
     display: block; 
     width: 100%; 
  });
}

.stream { 
  .doubleBorder();
  margin: 0 @marginRight @marginBottom 0;
  padding: 5px 10px;
  .flex(1);

  &:last-of-type {
    margin-right: 0;
  }

  .tabletPortrait({ 
    margin-right: 0;
  });
}

//////////////////////////////////////////////////////
// Title Style
//////////////////////////////////////////////////////

.stream-title {
  border-bottom: @border;
  margin-bottom: @marginBottom;
  text-transform: uppercase;
  padding: 10px 0 5px 0;  
  position: relative;

  h3 {
    text-indent: 2px;
    font-weight: 600;
    font-size: 17px;
    margin: 0;
  }

  &:after {
    .svgIcon(18px; "icon-arrowRight"; top; 10px; right; 0);
  }
}

//////////////////////////////////////////////////////
// Header above the stream
//////////////////////////////////////////////////////

.streams-buttons {
  .flexbox(row, wrap, align-items, flex-start);

  .mobileLandscape({
     .flexbox(column, wrap, align-items, flex-start);  
     display: block; 
     width: 100%; 
  });
}

.stream-button {
  .doubleBorder();
  .uppercaseFont(14px);  
  margin: 0 @marginRight @marginBottom 0;
  background: #000;
  padding: 3px;    
  .flex(1);

  &:last-of-type {
    margin-right: 0;
  }

  .tabletPortrait({
    font-size: 12px;
    margin-right: 0;
  });

  a {
    text-align: center;    
    display: block;
    color: #FFF;  
    width: 100%;

    &:hover {
      background: @linkColor;
      color: @fontColor;
    }
  }  
}

//////////////////////////////////////////////////////
// Stream Content
//////////////////////////////////////////////////////

.fontStyle(@family; @weight; @style; @size) {
  line-height: 12px;
  font-family: @baseFont;
  font-weight: @weight;
  font-style: @style;
  font-size: @size;
}

// Stream

.streamItem {
  margin: 0 0 @marginBottom 0;
  position: relative;
  overflow: hidden;

  .mobileLandscape({
    margin-bottom: @marginBottom * 1.5;
  });

  &:hover {
    background: @linkColor;
  }

  &:last-child {
    margin-bottom: 5px;
  }

  img {
    height: auto;
    width: 100%; 

    .mobileLandscape({
      margin-right: @marginRight;
      min-height: 50px;
      max-width: 34%;    
      height: auto;    
      float: left;
    });
  }

  &-content {    
    display: block;
    padding: 3px;

    .mobileLandscape({
      width: 64.4375%;
      display: block;
      float: left;
    });
  }

  &-category {    
    .fontStyle(@baseFont; 300; italic; 11px);
    margin: 5px 0 0 0;
    padding: 0;    

    &:after {
      .contentAfter("//"; 0px 3px);
    }
  }

  @titleFontSize: 14px;

  &-title {   
    .fontStyle(@titleFont; 300; normal; @titleFontSize); 
  }

  &-subtitle {
    .fontStyle(@titleFont; 300; normal; @titleFontSize); 

    &:before {
      .contentBefore(open-quote; 0px);
    }

    &:after {
      .contentAfter(close-quote; 0px);
    }
  }

  &-info {
    .fontStyle(@titleFont; 300; normal; @titleFontSize); 
  }

  &-meta {
    .fontStyle(@baseFont; 300; italic; 11px); 
    margin-top: 5px;
    display: block;
  }

  &-noContent {    
    .fontStyle(@titleFont; 300; italic; @titleFontSize); 
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 10px;
  }
}

//////////////////////////////////////////////////////
// Synopsis Stream - Importing Normal Streams
//////////////////////////////////////////////////////

.streamSingle {
  @imgWidth: 20%;
  .widgetList();  
  padding-bottom: 5px;
  margin: @marginBottom 0;

  a {
    .clearfix();
    padding: 10px 15px;
    margin: 0;
  }

  img {
    margin-right: @marginRight;
    min-height: 50px;
    max-width: 34%;    
    height: auto;    
    float: left;
  }

  &-item {
    border-bottom: 1px solid #000;
    margin: 0;

    &:first-child { border-top: 1px solid #000; }

    &-content {   
      width: 64.4375%;
      display: block;
      float: left;
    }

    &-details {      
      font-family: @baseFont;
      text-transform: none;
      margin: 0 0 10px 0;           
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      display: block;                
    }

    &-title {
      font-family: @titleFont;      
      text-transform: none;
      font-weight: 300;
      font-size: 22px;
      padding-top: 0;
      margin-top: 0;
    }

    &-excerpt {
      text-transform: none;
      font-weight: 300;
      font-size: 15px;
    }
  }
}