//////////////////////////////////////////////////////
// File Imports for mixins and classes
//////////////////////////////////////////////////////

@import "../mixins.less";

//////////////////////////////////////////////////////
// Classes
//////////////////////////////////////////////////////

.streams {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;

  .tabletSupport({
    -webkit-flex-flow: column wrap;
  });
}

.stream { 
  background: pink;
  margin: 0 2.5% 20px 0;
  -webkit-flex: 1;
          flex: 1;

  &:last-of-type {
    margin-right: 0;
  }

  .tabletSupport({ 
    margin-right: 0;
  });
}