//////////////////////////////////////////////////////
// Basic Widget Structure
//////////////////////////////////////////////////////

.widget {
  .doubleBorder();
  margin-bottom: @marginBottom;
  overflow: hidden;
  padding: 3px;

  &:last-child {
    margin-bottom: 0px;
  }

  &-title {
    .uppercaseFont(16px);  
    border-bottom: @border;
    padding: 10px 0 5px 0;
    font-weight: 600;
    margin: 0 10px;
    display: block;    

    &-date {
      font-family: @baseFont;      
      text-transform: none;
      font-style: italic;
      font-weight: 500;
      font-size: 14px;
    }
  }

  img, a img {    
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
  }

}

//////////////////////////////////////////////////////
// Widget Buttons: Next & Previous
//////////////////////////////////////////////////////

.widget-buttons {
  .widget-prev {    
    @buttonHeight: 20px;  
    line-height: @buttonHeight;     
    font-family: @baseFont;
    padding: 0 10px 0 15px;      
    height: @buttonHeight; 
    text-transform: none;
    font-style: italic;      
    position: relative;
    color: @fontColor;
    margin: 5px 10px;
    background: none;
    font-weight: 200;
    font-size: 10px;   
    display: block;  
    float: left;      

    &:after { .svgIcon(10px; "icon-arrowLeft"; top; 5px; left; 2px); }  
    &:hover { background: none; }  
  }

  .widget-next {
    .widget-prev();
    padding: 0 15px 0 10px;
    float: right;

    &:after {
      .svgIcon(10px; "icon-arrowRight"; top; 5px; right; 2px);
      left: auto;
    }
  }

  .is-inactive { opacity: 0.4; }
}

//////////////////////////////////////////////////////
// Carousel Widget
//////////////////////////////////////////////////////

.widget-carousel {
  margin-top: -1px;
  padding-bottom: 0;
}

//////////////////////////////////////////////////////
// List Widget
//////////////////////////////////////////////////////

.widgetList {
  list-style-type: none;
  margin: -8px 0 0 0;
  padding: 8px;

  &-item {
    border-bottom: @borderDotted;
    text-transform: uppercase;
    font-weight: 600;
    margin: 5px 0;
    
    a {
      margin-bottom: 5px;
      padding: 5px 10px;
      display: block;

      &:hover {
        background: @linkColor;
      }
    }

    &-category {
      text-transform: none;
      font-family: @baseFont;
      font-style: italic;
      font-weight: 300;
      font-size: 12px;

      &:after {
        .contentAfter("//"; 0px 4px);
      }
    }

    &-excerpt {      
      font-family: @baseFont;      
      margin: 0 0 5px 0;
      line-height: 21px;
      font-weight: 500;
      font-size: 16px;      
    }

    &-details {      
      font-family: @uppercaseFont;
      line-height: 14px;
      font-size: 10px;
    }    
  }

  &-more {
    .uppercaseFont(11px);
    margin-top: 10px;
    background: #000;

    a {      
      padding: 5px 12px;
      display: block;
      color: #fff;

      &:hover { 
        background: @linkColor;
        color: @fontColor; 
      }

      &:after {
        .contentAfter(">>"; 0px 4px);
      }
    }

    .emphasis {
      font-weight: 600;
    }
  }
}