@siteWidth: 960px;

.header {
  background: #3f3f3f;
  height: 80px;
  width: 100%;
}

.nav {
  background: grey;
  max-width: @siteWidth;
  margin: 0 auto;
}

.main {
  background: #1c1c1c;
  max-width: @siteWidth;
  margin: 0 auto;
}

.content {
  background: #cccccc;
  display: inline-block;
  margin-right: 4.5%;
  min-width: 360px;
  height: 500px;
  width: 60%;
}

.sidebar {
  background: #737373;
  display: inline-block;
  min-width: 200px;
  height: 400px;
  width: 35%;
}

.footer {
  background: #3f3f3f;
  height: 50px;
  width: 100%;  
}