//////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////

@siteWidth:       960px;
@mobileMargins:   1.5%;

//////////////////////////////////////////////////////
// Mixins for Layout
//////////////////////////////////////////////////////

.siteWidth {
  .clearfix();
  max-width: @siteWidth;
  margin: 0 auto;
}

.wrap {
  .siteWidth();
  background: white;
  max-width: calc(@siteWidth + (20px * 2));

  .tabletLandscape({
    padding-right: @mobileMargins;
    padding-left: @mobileMargins;
  });
}

//////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////

.header {
  display: block;
  height: 115px;
  width: 100%;   

  .lessThanTablet({
    height: 43px;
  });
}

.headerPrimary {     
  padding: 15px 0 12px 0;
  // overflow: hidden;
  display: block;
  width: 100%;

  &-content {
    .siteWidth();  
    display: block;  

    .tabletLandscape({
      padding-right: @mobileMargins;
      padding-left: @mobileMargins;
    });  
  }
}

.headerSecondary {
  .clearfix();
  .siteWidth();    
  position: relative;
  padding-bottom: @marginBottom;
  padding-top: @marginBottom;
  display: block;            
  z-index: 0;


  .tabletLandscape({
    padding-right: @mobileMargins;
    padding-left: @mobileMargins;
  });

  .lessThanTablet({
    z-index: @zindexNav;
    position: fixed;               
    width: 100%;
    padding: 0;
    top: 0;
  });
}

.subHeader {
  .siteWidth();
  margin: 0 auto;
  display: block;
}

//////////////////////////////////////////////////////
// Content
//////////////////////////////////////////////////////

.main {
  .siteWidth();  
  background: #ffffff;
  margin-bottom: 5px;  
  overflow: hidden;
}

.content {    
  margin-right: @marginRight;    
  width: 66.4375%;
  display: block;  
  float: left;  

  .tabletPortrait({
      width: 58.1%;
  });

  .lessThanTablet({
    min-width: 0;
    width: 100%;
  });
}

//////////////////////////////////////////////////////
// Sidebar
//////////////////////////////////////////////////////

.sidebar {    
  margin-bottom: @marginBottom;
  display: block;
  width: 32%;  
  float: left;
  
  .tabletPortrait({
    min-width: 300px;
    width: 40%;
  });

  .lessThanTablet({
    width: 100%;
  });
}

//////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////

.footer {
  min-height: 150px;
  width: 100%;

  &-content {
    .siteWidth();
  }
}

//////////////////////////////////////////////////////
// Global Hiding & Revealing Classes
//////////////////////////////////////////////////////

// Only visible less than 768px
.visible-mobile { 
  display: none !important;

  .lessThanTablet({
    display: block !important;
    });
 }

 // Only visible above 768px
.visible-desktop { 
  display: block !important;

  .lessThanTablet({
    display: none !important;
    });
 }