//////////////////////////////////////////////////////
// Global Variables
//////////////////////////////////////////////////////

.siteWidth {
  max-width: 960px;
  margin: 0 auto;

  .tabletSupport({
    padding: 0 3%;
    });
}

.wrap {
  .siteWidth();
  background: white;
  max-width: calc(980px + (10px * 2));

  .tabletSupport({
    padding: 0px;
    });
}

//////////////////////////////////////////////////////
// Header
//////////////////////////////////////////////////////

.header {
  .clearfix();
  height: 120px;
  width: 100%;

  &-content {
    .siteWidth();
    .clearfix();
  }
}

.subHeader {
  .siteWidth();
  margin: 0 auto;
}

.headerBar {
  padding: 12px 0;
  height: 48px;

  &-content {
    .siteWidth();
  }
}

//////////////////////////////////////////////////////
// Content
//////////////////////////////////////////////////////

.main {
  .siteWidth();
  overflow: hidden;
  margin-bottom: 5px;
  background: #ffffff;
}

.content {
  margin-bottom: 15px;
  margin-right: 1.0417%;
  width: 65.625%;
  float: left;

  .tabletSupport({
    margin-right: none;
    width: 100%;
  });
}

//////////////////////////////////////////////////////
// Sidebar
//////////////////////////////////////////////////////

.sidebar {
  float: left;
  width: 33.3334%;
  
  .tabletSupport({
    width: 100%;
  });
}

//////////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////////

.footer {
  height: 150px;
  width: 100%;

  &-content {
    .siteWidth();
  }
}
