//////////////////////////////////////////////////////
// Browser Prefix
//////////////////////////////////////////////////////

.browserPrefix(@property; @value) {
  -webkit-@{property}:  @value;
  -moz-@{property}:     @value;
  -ms-@{property}:      @value;
  @{property}:          @value;
}

//////////////////////////////////////////////////////
// Mixins for @media queries
//////////////////////////////////////////////////////

.tabletSupport(@rules) {
  @media screen and (max-width: 768px) { @rules(); }
} // Use: .displayTables({ .. }); 

.mobileSupport(@rules) {
  @media screen and (max-width: 480px) { @rules(); }
} // Use: .displayMobile({ .. });


.clearfix() {
  zoom: 1;
  
  &:before { 
    content: ''; 
    display: block; 
  }
  
  &:after { 
    content: ''; 
    display: table; 
    clear: both; 
  }
}